# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI - Linux x64 (Ubuntu 24.04)

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

env:
  IREE_DIR: ${{ github.workspace }}/iree
  HIP_DIR: ${{ github.workspace }}/hip
  FUSILLI_DIR: ${{ github.workspace }}/fusilli
  HIPDNN_DIR: ${{ github.workspace }}/hipdnn

jobs:
  build-and-test-linux:
    name: "Build & Test :: ${{ matrix.name }}"
    runs-on: ${{ matrix.runs-on }}
    container: ghcr.io/sjain-stanford/compiler-dev-ubuntu-24.04:main@sha256:80ef5253f3c4f48b9aee3da47c6b13f1dc5edb4bc804e8fe0f725d278cb5a10c
    defaults:
      run:
        # --noprofile skips loading ~/.bash_profile
        # --norc      skips loading ~/.bashrc
        # -exo pipefail:
        #   -e exit immediately if any command fails
        #   -x print each command before executing
        #   -o pipefail ensure pipeline fails if any command in it fails
        # {0} github actions placeholder for the command to run
        shell: bash --noprofile --norc -exo pipefail {0}
    strategy:
      fail-fast: false
      matrix:
        name: ["gfx942_clang22_release", "cpu_clang18_debug", "gfx942_clang22_debug", "cpu_gcc13_codecov", "gfx942_clang18_asan", "cpu_clang18_asan"]
        include:
          - name: gfx942_clang22_release
            runs-on: linux-mi325-1gpu-ossci-iree-org
            cmake-options:
              -DCMAKE_C_COMPILER=clang-22
              -DCMAKE_CXX_COMPILER=clang++-22
              -DCMAKE_BUILD_TYPE=Release
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=ON
          - name: cpu_clang18_debug
            runs-on: azure-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_ENABLE_CLANG_TIDY=ON
          - name: gfx942_clang22_debug
            runs-on: linux-mi325-1gpu-ossci-iree-org
            cmake-options:
              -DCMAKE_C_COMPILER=clang-22
              -DCMAKE_CXX_COMPILER=clang++-22
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=ON
              -DFUSILLI_ENABLE_CLANG_TIDY=ON
          - name: cpu_gcc13_codecov
            runs-on: azure-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=gcc-13
              -DCMAKE_CXX_COMPILER=g++-13
              -DFUSILLI_CODE_COVERAGE=ON
          - name: gfx942_clang18_asan
            runs-on: linux-mi325-1gpu-ossci-iree-org
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_SYSTEMS_AMDGPU=ON
              -DFUSILLI_ENABLE_ASAN=ON
              -DFUSILLI_ENABLE_UBSAN=ON
          - name: cpu_clang18_asan
            runs-on: azure-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_ASAN=ON
              -DFUSILLI_ENABLE_UBSAN=ON

    steps:
    - name: Checkout fusilli
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        path: fusilli

    - name: Checkout iree
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        repository: iree-org/iree
        path: iree
        ref: iree-3.11.0rc20260217

    - name: Setup Python
      uses: actions/setup-python@v4.2.0
      with:
        python-version: '3.11'

    - name: Create and activate virtual environment
      run: |
        python -m venv .venv
        source .venv/bin/activate
        echo "VIRTUAL_ENV=${GITHUB_WORKSPACE}/.venv" >> $GITHUB_ENV
        echo "${GITHUB_WORKSPACE}/.venv/bin" >> $GITHUB_PATH
      shell: bash

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install lit FileCheck
        python -m pip install --find-links https://iree.dev/pip-release-links.html iree-base-compiler==3.11.0rc20260217

    - name: Create symlink for FileCheck
      run: |
        ln -s ${GITHUB_WORKSPACE}/bin/filecheck .venv/bin/FileCheck

    - name: Build fusilli
      run: |
        ls ${GITHUB_WORKSPACE}/.venv/bin
        export FUSILLI_CMAKE_FLAGS="${{ matrix.cmake-options }}"
        bash fusilli/build_tools/scripts/build-fusilli-test.sh

    - name: Test fusilli (libIREECompiler CAPI)
      if: ${{ contains(matrix.name, 'debug') || contains(matrix.name, 'release') || contains(matrix.name, 'asan') }}
      run: |
        bash fusilli/build_tools/scripts/run-fusilli-tests.sh
        fusilli/tests/test_cache_empty.sh"

    - name: Test fusilli (iree-compile CAPI)
      if: ${{ contains(matrix.name, 'debug') || contains(matrix.name, 'release') || contains(matrix.name, 'asan') }}
      run: |
        FUSILLI_COMPILE_BACKEND_USE_CLI=1 bash fusilli/build_tools/scripts/run-fusilli-tests.sh
        fusilli/tests/test_cache_empty.sh"

    - name: Run code coverage
      if: ${{ contains(matrix.name, 'codecov') }}
      run: |
        ctest --test-dir ${FUSILLI_TEST_BUILD_DIR} -T test -T coverage --timeout 120
        lcov --capture --directory ${FUSILLI_TEST_BUILD_DIR} --output-file coverage.info
        lcov --remove coverage.info '/usr/*' '*/iree/*' --output-file coverage.info
        genhtml coverage.info --output-directory coverage_report

    - name: Upload code coverage report
      if: ${{ contains(matrix.name, 'codecov') }}
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: coverage-report
        path: ${{ github.workspace }}/coverage_report
