# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI - Linux x64 (Ubuntu 24.04)

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test-linux:
    name: "Build & Test :: ${{ matrix.name }}"
    runs-on: ${{ startsWith(matrix.name, 'gpu') && 'linux-mi325-1gpu-ossci-iree-org' || 'azure-linux-scale' }}
    timeout-minutes: 60
    defaults:
      run:
        # --noprofile skips loading ~/.bash_profile
        # --norc      skips loading ~/.bashrc
        # -exo pipefail:
        #   -e exit immediately if any command fails
        #   -x print each command before executing
        #   -o pipefail ensure pipeline fails if any command in it fails
        # {0} github actions placeholder for the command to run
        shell: bash --noprofile --norc -exo pipefail {0}
    strategy:
      fail-fast: false
      matrix:
        name: ["cpu-asan", "cpu-codecov", "cpu-debug", "gpu-asan", "gpu-debug", "gpu-release"]

    steps:
    - name: "Checkout fusilli"
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: "Build fusilli"
      run: |
        build_tools/docker/exec_docker_ci.sh \
        build_tools/scripts/build.sh ${{ matrix.name }} \
          --iree-source-dir /workspace/.cache/docker/iree

    - name: "Test fusilli (libIREECompiler CAPI)"
      if: ${{ contains(matrix.name, 'debug') || contains(matrix.name, 'release') || contains(matrix.name, 'asan') }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        build_tools/scripts/test.sh --backend capi --extra-verbose

    - name: "Test fusilli (iree-compile CLI)"
      # Excluded for ASAN runs: the CLI backend spawns `iree-compile`
      # (not ASAN-instrumented) as a separate process.
      if: ${{ contains(matrix.name, 'debug') || contains(matrix.name, 'release') }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        build_tools/scripts/test.sh --backend cli --extra-verbose

    - name: "Run code coverage"
      if: ${{ contains(matrix.name, 'codecov') }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        build_tools/scripts/coverage.sh

    - name: "Upload code coverage report"
      if: ${{ contains(matrix.name, 'codecov') }}
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
      with:
        name: coverage-report
        path: ${{ github.workspace }}/coverage_report
